body {
  position: relative;
}
#home-container {
  position: fixed;
  left: 0;
  margin-top: 125px;
  width: 375px;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
#preview-container {
  position: fixed;
  left: 375px;
  background-color: #fafafa;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.home-menu {
  position: fixed;
  background-color: #22CCEA;
  top: 0;
  left: 0;
  height: 125px;
  width: 375px;
  padding: 15px;
}

.home-menu header {
  font-size: 16px;
}
.home-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-item {
  width: 100%;
  background-color: #f0f0f0;
  padding: 15px;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
}
.home-item:hover {
  background-color: #fafafa;
}

.home-item > header {
  font-size: 18px;
  font-weight: 600;
}

.preview-wrapper {
  padding: 15px;
}

.preview-header {
  font-size: 18px;
  font-weight: 600;
}

.preview-text {
  font-family: inherit;
  white-space: normal;
}